.blog-titles {
    width: 10rem;
    height: calc(100vh - 40px);
    font-size: 0.6rem;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

.blog-titles::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.blog-titles a {
    border-left: 1px solid #ccc;
    color: #6D7780;
    display: block;
    padding: 0.4rem 0.5rem;
}

.blog-titles a:hover {
    color: #2E3D49;
    border-left: 1px solid #2E3D49;
}

.blog-titles li:first-child a {
    padding-top: 0;
}

.blog-titles li:last-child a {
    padding-bottom: 0;
}

.blog-title-selected a {
    color: #017A9B;
    font-weight: 700;
}

.blog-title-selected a:hover {
    color: #017A9B;
    border-left: 1px solid #017A9B;
}
