aside {
    width: 20%;
    height: calc(100vh - 40px);
    font-size: 0.6rem;
    position: sticky;
    top: 2rem;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

aside::-webkit-scrollbar {
    width: 0;
    height: 0;
}

aside a {
    border-left: 1px solid #ccc;
    color: #6D7780;
    display: block;
    padding: 0.4rem 0.5rem;
}

aside a:hover {
    color: #2E3D49;
    border-left: 1px solid #2E3D49;
}

aside li:first-child a {
    padding-top: 0;
}

aside li:last-child a {
    padding-bottom: 0;
}

.blog-title-selected a {
    color: #017A9B;
    font-weight: 700;
}

.blog-title-selected a:hover {
    color: #017A9B;
    border-left: 1px solid #017A9B;
}

.toc {
    width: 20%;
    font-size: 0.5rem;
}

.toc a {
    padding: 0.2rem ;
    border: 0;
}

.toc a:hover {
    border: 0;
}