/* || Main Content in website */
main {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

/* || Aside: Titles of Blog Posts and Table of Contents */
aside {
    width: calc(100% * 1 / 6);
    height: calc(100vh - 40px);
    font-size: 0.6rem;
    position: sticky;
    top: 2rem;
    bottom: 50px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
}

aside::-webkit-scrollbar {
    width: 0;
    height: 0;
}

aside li {
    padding: 0 1rem;
}

aside a {
    border-left: 1px solid #ccc;
    color: #6D7780;
    display: block;
    padding: 0.4rem 0.5rem;
}

aside a:hover {
    color: #2E3D49;
    border-left: 1px solid #2E3D49;
}

aside li:first-child a {
    padding-top: 0;
}

aside li:last-child a {
    padding-bottom: 0;
}

.blog-title-selected a {
    color: #017A9B;
    font-weight: 700;
}

.blog-title-selected a:hover {
    color: #017A9B;
    border-left: 1px solid #017A9B;
}

.toc {
    width: calc(100% * 1 / 6);
    font-size: 0.5rem;
}

.toc a {
    padding: 0.2rem;
    border: 0;
}

.toc a:hover {
    border: 0;
}

/* || Blog Post */
article {
    width: calc(100% * 2 / 3);;
}

article h1 {
    margin-top: 0;
}

article h2 {
    padding-top: 1.8rem;
    margin-top: -1rem;
}
