.category,
.directory {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    white-space: nowrap;
}

.category {
    font-size: 0.8rem;
}

.category a {
    color: #1E6BB8;
}

.category a:visited {
    color: #1E6BB8;
}

.category #brand {
    color: orange;
    background: url(../img/favicon-32x32.png) no-repeat left 50%;
    background-size: 0.8rem;
    padding-left: 1rem;
}

.directory {
    height: 1.85rem;
    background: #F7F7F8;
    font-size: 0.6rem;
    font-weight: 400;
}

.directory a {
    color: #017A9B;
}