header ul,
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    white-space: nowrap;
}

header ul {
    font-size: 0.8rem;
}

header ul a {
    color: #1E6BB8;
}

header ul a:visited {
    color: #1E6BB8;
}

header ul #brand {
    color: orange;
    background: url(../img/favicon-32x32.png) no-repeat left 50%;
    background-size: 0.8rem;
    padding-left: 1rem;
}

nav {
    position: sticky;
    top: -1px;
    z-index: 1;
}

nav ul {
    height: 1.85rem;
    background: #F7F7F8;
    font-size: 0.6rem;
    font-weight: 400;
}

nav ul a {
    color: #017A9B;
}

@media screen and (max-width: 600px) {
    header ul,
    nav ul {
        align-items: initial;
        justify-content: initial;
    }

    header ul li,
    nav ul li {
        margin: auto;
    }
}