body {
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
    display: flex;
}

article {
    width: 60%;
}

footer {
    color: #6D7780;
    font-size: 0.5rem;
    padding: 0.5rem 0;
    text-align: center;
    background: #F9F9FA;
}

footer img {
    padding: 0 0.1rem;
}

h1, h2, h3 {
    font-weight: 400;
    padding-top: 1.8rem;
    margin-top: -1rem;
}

h1 {
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 0;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.7rem;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    padding: 0 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}