/* || General Style Rules */
body {
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-weight: 400;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.7rem;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* || Header and Navigator */
header ul,
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    white-space: nowrap;
}

header li,
nav li {
    padding: 0 1rem;
}

header ul {
    font-size: 0.8rem;
}

header a {
    color: #1E6BB8;
}

header a:visited {
    color: #1E6BB8;
}

header a#brand {
    color: orange;
    background: url(../img/favicon-32x32.png) no-repeat left 50%;
    background-size: 0.8rem;
    padding-left: 1rem;
}

nav {
    position: sticky;
    top: -1px;
    z-index: 1;
}

nav ul {
    height: 1.85rem;
    background: #F7F7F8;
    font-size: 0.6rem;
    font-weight: 400;
}

nav a {
    color: #017A9B;
}

/* || Footer */
footer {
    color: #6D7780;
    font-size: 0.5rem;
    padding: 0.5rem 0;
    text-align: center;
    background: #F9F9FA;
}